<div class="search-box">
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input #searchBox type="search" class="form-control" placeholder="Search users by ID, Address, Name ... "
          [value]="searchText" (input)="search($event.target.value)"
          (keydown)="keyPress($event)">
  </div>
  <app-user-box
    [users]="foundUsers"
    [isOpen]="!!searchText"
    [searchTerm]="searchText"
    [keyValue]="keyPressValue"
  ></app-user-box>
</div>
